name: Edit Issue Trigger
on: 
  issues:
    types: 
      - edited
jobs:
  parseEditedIssue:
    if: ${{ !github.event.issue.pull_request }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # setup python
      - name: setup python
        uses: actions/setup-python@v4.7.0
        with:
          python-version: "3.10"

      # setup conda
      - name: add conda to system path
        run: echo $CONDA/bin >> $GITHUB_PATH
      - name: source conda
        run: source $CONDA/etc/profile.d/conda.sh
      - name: install dependencies through conda
        run: |
          source activate
          conda init
          conda install -c conda-forge pygithub filetype pandas

      # generate report
      - name: generate report
        env:
          ISSUE_NUMBER: ${{ github.event.issue.number }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python3 .github/scripts/write_report.py

      # # parse issue
      # - name: parse issue
      #   env:
      #     ISSUE_NUMBER: ${{ github.event.issue.number }}
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     ORCID_ID: ${{ secrets.ORCID_ID }}
      #     ORCID_PW: ${{ secrets.ORCID_PW }}
      #   run: |
      #     python3 .github/scripts/parse_issue.py